In [1]:
import numpy as np
import numpy.random as random
import scipy as sp
from pandas import Series,DataFrame
import pandas as pd

import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns
%matplotlib inline
%precision 3
sns.set()
import sklearn

In [2]:
from sklearn.datasets import load_boston

boston = load_boston()

X = pd.DataFrame(boston.data, columns=boston.feature_names)

Y = pd.Series(boston.target, name='MEDV')

X.join(Y).head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [6]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LinearRegression, Ridge
from sklearn.tree import DecisionTreeRegressor
from sklearn.svm import LinearSVR
from sklearn.metrics import mean_squared_error, mean_absolute_error, median_absolute_error, r2_score
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.5, random_state=0)

sc = StandardScaler()
sc.fit(X_train)
X_train = sc.transform(X_train)
X_test = sc.transform(X_test)

models = {
    'LinearRegression' : LinearRegression(),
    'Ridge' : Ridge(random_state=0),
    'DecisionTreeRegressor' : DecisionTreeRegressor(random_state=12),
    'LinearSVR' : LinearSVR(random_state=12)
}

scores = {}
for model_name, model in models.items():
    model.fit(X_train, Y_train)
    scores[(model_name, 'MSE')] = mean_squared_error(Y_test, model.predict(X_test))
    scores[(model_name, 'MAE')] = mean_absolute_error(Y_test, model.predict(X_test))
    scores[(model_name, 'MedAE')] = median_absolute_error(Y_test, model.predict(X_test))
    scores[(model_name, 'R2')] = r2_score(Y_test, model.predict(X_test))
    
pd.Series(scores).unstack()

                            MAE        MSE     MedAE        R2
DecisionTreeRegressor  3.045850  23.785138  2.000000  0.686275
LinearRegression       3.627793  25.301662  2.903830  0.666272
LinearSVR              3.275023  26.796675  2.089034  0.646553
Ridge                  3.618201  25.282890  2.930524  0.666520